{% extends 'base.html' %}
{% block content %}

<style>
body  {
  background-image: url("static/pexels-photo-69903.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<div class="container">

<div>
  <p class="text-center fs-1 fw-bold primary">Art Explorer</p>
</div>
<div class="fixed-bottom d-flex aligns-items-center justify-content-center" style="height:25%;">
<div>
<a href="/login" class="btn btn-primary btn-md m-3">Log in to your account</a>
<span class="fs-3 fw-bold primary">or</span>
<a href="/register" class="font-bold btn btn-primary btn-md m-3">Register for an account</a>

</div>
</div>
</div>

{% endblock %}
